@{
    ViewBag.Title = "CustomerService";
}

<h2>CustomerService</h2>
<hr />
<br>
<form asp-controller="CustomerService" asp-action="Index">
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</form>
<br><br>
<p>
    <a class="btn btn-primar" data-toggle="collapse" href="#q1" role="banner" aria-expanded="false">
        Q: What is Online Banking?
    </a>

</p>
<div class="collapse" id="q1">
    <div class="card card-body">
        Online Banking is a tool that allows you to use a personal computer with an Internet connection to conduct your banking online.
    </div>
</div>

<p>
    <a class="btn btn-primar" data-toggle="collapse" href="#q2" role="banner" aria-expanded="false">
        Q: What can I do with Online Banking?
    </a>

</p>
<div class="collapse" id="q2">
    <div class="card card-body">
        You can view account balances and transaction history, transfer money, and download transactions to a personal financial manager and much more. Check out the Online Banking Demo to see all the features of Online Banking and how you can personalize your online banking experience.
    </div>
</div>

<p>
    <a class="btn btn-primar" data-toggle="collapse" href="#q3" role="banner" aria-expanded="false">
        Q: Is any of my personal information stored in the Online Banking product?
    </a>

</p>
<div class="collapse" id="q3">
    <div class="card card-body">
        Yes, the Online Banking product stores your User ID, password and user preferences.
    </div>
</div>

<p>
    <a class="btn btn-primar" data-toggle="collapse" href="#q4" role="banner" aria-expanded="false">
        Q: How current is my banking information?

    </a>

</p>
<div class="collapse" id="q4">
    <div class="card card-body">
        A: Your checking, savings, and CD/IRA account information is updated each time you log into your Online Banking so that all pending as well as posted transactions are displayed and reflected in your available balance. Loan transactions and balances will reflect information available from the previous day’s business.
    </div>
</div>

<p>
    <a class="btn btn-primar" data-toggle="collapse" href="#q5" role="banner" aria-expanded="false">
        Q: What accounts will I be able to access through Online Banking?
    </a>

</p>
<div class="collapse" id="q5">
    <div class="card card-body">
        A: You can access your checking, savings, investment and loan accounts from the Online Banking service. Our Online Banking Product is intended to give you as much access, security, and versatility as possible.
    </div>
</div>

<p>
    <a class="btn btn-primar" data-toggle="collapse" href="#q6" role="banner" aria-expanded="false">
        Q: When can I use Online Banking services?
    </a>
</p>
<div class="collapse" id="q6">
    <div class="card card-body">
        A: With Online Banking, you have access to your account information 24 hours a day, 7 days a week!
    </div>
</div>

<p>
    <a class="btn btn-primar" data-toggle="collapse" href="#q7" role="banner" aria-expanded="false">
        Q: What happens if I forget or lose my password?
    </a>

</p>
<div class="collapse" id="q7">
    <div class="card card-body">
        A: Just call us and we will take you through the steps needed to get back into the system immediately!
    </div>
</div>

