
@{
    ViewBag.Title = "Accounts";
}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">My accounts</a></li>
        <li><a href="#timeline" data-toggle="tab">New account</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="active tab-pane" id="activity">
            <a href=" class="text-center">I already have a membership</a>

        </div>
    </div>
</div>