@{
    /**/


}
<style>
    table, th, td {
        border: 1px;
        padding: 10px;
    }

    table {
        border-spacing: 15px;
    }

    .a {
        height: 27px;
        width: 225px
    }

    .b {
        text-align: center;
    }
</style>


@{
    //Validation.RequireField("companyname", "From field is required.");
    //Validation.RequireField("contactname", "Contact name is required.");

    if (IsPost)
    {
        string from = Request.Form["From"];
        string to = Request.Form["To"];
        string amount = Request.Form["Amount"];
        string details = Request.Form["Details"];
        /*if (Validation.IsValid())
        {*/
        <text>
            You entered: <br />
            From: @from <br />
            To: @to <br />
            Amount: @amount <br />
            Deta: @details <br />
        </text>

    }
}


<div align ="center">
    <h2>Transfers to my accounts </h2>
    <hr/>
    <form method="post">
        <fieldset>
            <table>
                <tr>
                    <td><label for="From">From</label></td>
                    <td>
                        <select id="accounts" name="accountList" class="a">
                            <option value="0">account1</option>
                            <option value="1">account2</option>
                            <option value="2">account3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <div>
                        <td><label for="To" name="To">To </label></td>
                        <td>
                            <select id="accounts" name="accountList" class="a">
                                <option value="0">account1</option>
                                <option value="1">account2</option>
                                <option value="2">account3</option>
                            </select>
                        </td>
                    </div>
                </tr>

                <tr>
                    <td>
                        <label for="Ammount">The amount of money </label>
                    </td>
                    <td>
                        <input type="text" name="amount" size ="30" value="@Request.Form["Amount"]" />
                    </td>
                    
                </tr>
                <tr>
                    <td><label for="details">Details</label></td>
                    <td>
                        <input type="text" name="details"
                               value="@Request.Form["Details"]" size="30"/>
                    </td>
                </tr>
            </table>
            <br><br>
            <input type="button" value="Cancel" onclick="window.location = 'http://localhost:51201/Home/Index'" class="cancel_button">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <input type="submit" value="Continue" class="submit" />
        </fieldset>
    </form>
</div>
I
