@{
    ViewBag.Title = "BTP";
}

<style>

    .a {
        padding: 50px 12px;
        background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
        text-align: left;
        text-indent: 50px;
    }

    .b {
        text-align: center;
    }
    h3 {
        color: darkslategrey;
        text-shadow: 2px 1px darkslategrey;
    }
</style>
<h2>@ViewBag.Title.</h2>


<div class="a">
    <h3>
        Online Banking
    </h3>
    <p>
        Online Banking from Bank is secure, easy to use and
        convenient and gives you all the tools you need to manage your money.
        Manage and keep track of your finances 24/7 with our Online Banking service.
        Don't waste time waiting on neverending lines anymore.
    </p>
</div>
<div class="a">
    <h3>View your balance</h3>
    <p>No need to go to some ATM machine only to check the money in your account.
        You are just a few clicks away from checking your balance.</p>
</div>

<div class="a">
    <h3>Make payments</h3>
    <p>Pay bills online and on time. It’s safe and simple. Just tell us who 
        and how much to pay. We’ll take care of the rest.</p>
</div>

<div class="a">
    <h3>Transfer money between your accounts</h3>
    <p>Transfering money between your own accounts or to your friends
        has never been easier.
    </p>
</div>

<div class="a">
    <h3>View your tranzaction details</h3>
    <p>You are in full control of the tranzactions in your account. You can 
        have a look at all the recent operations performed at any time you like.
    </p>
</div>

<div class="a">
    <h3>Get help from our team</h3>
    <p>You can always be in touch with our colleagues that will be able to help you
        with different issues you might encounter. </p>
</div>