@{
    ViewBag.Title = "Home Page";
}

<style>
    .a {
        height: 35px;
        width: 250px;
    }

    .b {
        background: #e6e6ff;
        margin: 5px;
        text-align: center;
    }

    .c {
        background: #52527a;
        margin: 5px;
        text-align: center;
        height: 35px;
        width: 150px;
    }
</style>
<table align="center">
    <tr></tr>
    <td><label for="IBAN" name="To">IBAN </label></td>
    <td>
        <select id="accounts" name="accountList" class="a">
            <option value="0">account1</option>
            <option value="1">account2</option>
            <option value="2">account3</option>
        </select>
    </td>
    </tr>
    <tr>
        <td> <label for="IBAN" name="To">Curency</label></td>
        <td>
            <select id="accounts" name="accountList" class="a">
                <option value="0">RON</option>
                <option value="1">EURO</option>
                <option value="2">USD</option>
            </select>
        </td>
    </tr>
</table>
<br /><br /><br /><br /><br />
<div align="center" class="b">
    <h1>
        &euro;23,000
    </h1>
    <p>
        Available Balance
    </p>
</div>
<br /><br /><br /><br /><br />
<div align="left" class="c">
    <p>
        Low limit: &euro;10
    </p>
</div>