


@{
    ViewBag.Title = "Transactions history";
}
<style>


    tr.d {
        background: #e6e6ff;
        margin: 5px;
        text-align: center;
    }

    [class^=arr-] {
        border: solid black;
        border-width: 0 .2em .2em 0;
        display: inline-block;
        padding: .20em;
    }

    .arr-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .arr-left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    table.t {
        border-collapse: collapse;
        width: 100%;
    }
</style>


<div>
    <br /><br /><br /><br /><br />
    <table align="center" class="t">
        <tr class="d">
            <td class="x"></td>
            <td class="x">ISBN</td>
            <td class="x">Date</td>
            <td class="x">Currency</td>
            <td class="x">Amount</td>
        </tr>

        <tr class="d">
            <td class="x"><i class="arr-right"></i></td>
            <td class="x">12345678901234</td>
            <td class="x">23/09/2017</td>
            <td class="x">RON</td>
            <td class="x">1000</td>
        </tr>
        <tr class="d">
            <td class="x"><i class="arr-left"></i></td>
            <td class="x">12345678901234</td>
            <td class="x">23/09/2017</td>
            <td class="x">RON</td>
            <td class="x">1000</td>
        </tr>
    </table>
    <br /><br /><br /><br /><br />
</div>


